<div class="container">
<div class="result">

	<p><%= @result1 %></p><br>
	<p><%= @result2 %></p>
	<p><%= @result3 %></p>
	<p><%= @result4 %></p>
	<p><%= @result5 %></p>
	<p><%= @result6 %></p>

	<%= link_to "Назад" , pages_search_order_path, class: "btn btn-danger" %>

</div>
</div>