
<div class="container">
<h2>Забули пароль?</h2><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Email-адрес:" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Надіслати інструкції для відновлення", class: "btn btn-danger" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>